<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
  <div class="form-row">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input type="text" matInput formControlName="username" autocomplete="off">
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" autocomplete="off">
    </mat-form-field>
  </div>
  <div class="form-row">
    <button [disabled]="this.loadingService.loading$ | async" class="btn btn-primary" mat-raised-button>
      <span *ngIf="this.loadingService.loading$ | async" class="spinner-border spinner-border-sm mr-1"></span>
      Login
    </button>
  </div>
</form>
